
<!-- slider code  -->


<div class="row p-2" data-aos="zoom-in">
    <div class="col-lg-12">

        <!-- Card Slider -->
        <div class="slider-container">
            <div class="swiper-container card-slider">
                <div class="swiper-wrapper">
                    
                    <!-- Slide -->
                    <div class="swiper-slide">
                        <div class="testimonial-card p-4">
                            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laboriosam commodi officia laborum qui iste quidem!</p>
                        
                            <div class="d-flex pt-4">
                                <div>
                                    <img class="avatar" src="./assets/images/testimonial-1.jpg" alt="testimonial">
                                </div>
                                <div class="ms-3 pt-2">
                                    <h6>Marlene Visconte</h6>
                                    <p>General Manager - Scouter</p>
                                </div>
                            </div>
                        </div>
                    </div> <!-- end of swiper-slide -->
                    <!-- end of slide -->

                    <!-- Slide -->
                    <div class="swiper-slide">
                        <div class="testimonial-card p-4">
                            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laboriosam commodi officia laborum qui iste quidem!</p>
                            <div class="d-flex pt-4">
                                <div>
                                    <img class="avatar" src="./assets/images/testimonial-2.jpg" alt="testimonial">
                                </div>
                                <div class="ms-3 pt-2">
                                    <h6>John Spiker</h6>
                                    <p>Team Leader - Vanquish</p>
                                </div>
                            </div>
                        </div>
                    </div> <!-- end of swiper-slide -->
                    <!-- end of slide -->

                    <!-- Slide -->
                    <div class="swiper-slide">
                        <div class="testimonial-card p-4">
                            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laboriosam commodi officia laborum qui iste quidem!</p>
                            <div class="d-flex pt-4">
                                <div>
                                    <img class="avatar" src="./assets/images/testimonial-3.jpg" alt="testimonial">
                                </div>
                                <div class="ms-3 pt-2">
                                    <h6>Stella Virtuoso</h6>
                                    <p>Design Chief - Upscale</p>
                                </div>
                            </div>
                        </div>      
                    </div> <!-- end of swiper-slide -->
                    <!-- end of slide -->

                    <!-- Slide -->
                    <div class="swiper-slide">
                        <div class="testimonial-card p-4">
                            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laboriosam commodi officia laborum qui iste quidem!</p>
                            <div class="d-flex pt-4">
                                <div>
                                    <img class="avatar" src="./assets/images/testimonial-4.jpg" alt="testimonial">
                                </div>
                                <div class="ms-3 pt-2">
                                    <p>Mike tim</p>
                                    <p>Investor - TechGroww</p>
                                </div>
                            </div>
                        </div>
                    </div> <!-- end of swiper-slide -->
                    <!-- end of slide -->

                </div> <!-- end of swiper-wrapper -->

                <!-- Add Arrows -->
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
                <!-- end of add arrows -->

            </div> <!-- end of swiper-container -->
        </div> <!-- end of slider-container -->
        <!-- end of card slider -->

    </div> <!-- end of col -->
</div> 